---
interface Props {
	tituloInicio: string;
	tituloFin: string;
	dark?: boolean;
	class?: string;
}

const {
	tituloInicio,
	tituloFin,
	dark = false,
	class: className = "",
} = Astro.props;
---

<h1
	class={`text-3xl lg:text-7xl mx-auto mb-8 w-auto text-center ${dark ? "text-custom-corn" : "text-custom-gray"} ${className}`}
>
	<span class="font-black">{tituloInicio}</span>
	<span class="font-light">{tituloFin}</span>
</h1>
