---
import { boolean } from "astro:schema";

interface Props {
	dark?: boolean;
	class?: string;
	dataAnimate?: boolean;
}

const {
	dark = false,
	class: className = "",
	dataAnimate = false,
} = Astro.props;
---

<h2
	class={`${dark ? "text-custom-corn" : "text-custom-gray"} ${className} uppercase mx-auto w-max font-black mb-4 text-2xl`}
	data-animate={dataAnimate || null}
>
	<slot />
</h2>
