@custom-media --bp-sm (width >= 40rem); 	/* 640px  */
@custom-media --bp-md (width >= 48rem); 	/* 768px  */
@custom-media --bp-lg (width >= 64rem); 	/* 1024px */
@custom-media --bp-xl (width >= 80rem); 	/* 1280px */
@custom-media --bp-2xl (width >= 96rem); 	/* 1536px */

