
html {
  font-family: system-ui, sans-serif;
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  max-width: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  text-decoration: none;
}

h1 {
  margin-top: 0;
  text-wrap: balance;
}

h2 {
  margin-top: 0;
}

h3 {
  margin-top: 0;
}

p {
  margin-top: 0;
}
