
html {
  font-family: system-ui, sans-serif;
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  max-width: 100%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  margin-top: 0;
  line-height: 1.1;
  font-weight: 300;
  margin-bottom: 0.4em;
  font-size: clamp(32px, 6vw, 50px);
  line-height: 1em;
  color: var(--primary);
  text-wrap: balance;
}

h2 {
  margin-top: 0;
  margin-bottom: 0.8em;
  line-height: 1.1;
  font-weight: 600;
  font-size: 20px;
  color: var(--secondary);
}

h3 {
  margin-top: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}
