:root {

	/* spacing */
	--spacing: 0.5rem;
	--spacing-1: calc(var(--spacing) * 1);
	--spacing-2: calc(var(--spacing) * 2);
	--spacing-3: calc(var(--spacing) * 3);
	--spacing-4: calc(var(--spacing) * 4);
	--spacing-5: calc(var(--spacing) * 5);
	--spacing-6: calc(var(--spacing) * 6);
	--spacing-8: calc(var(--spacing) * 8);
	--spacing-10: calc(var(--spacing) * 10);
	--spacing-11: calc(var(--spacing) * 11);
	--spacing-12: calc(var(--spacing) * 12);

	/* container */
	--container-3xs: 16rem;
	--container-2xs: 18rem;
	--container-xs: 20rem;
	--container-sm: 24rem;
	--container-md: 28rem;
	--container-lg: 32rem;
	--container-xl: 36rem;
	--container-2xl: 42rem;
	--container-3xl: 48rem;
	--container-4xl: 56rem;
	--container-5xl: 64rem;
	--container-6xl: 72rem;
	--container-7xl: 80rem;
	--container-8xl: 96rem;

	/* page */
	--page-gap: clamp(var(--spacing-2), 4vw, var(--spacing-4));

	/* color semantic */
	--color-page: var(--color-white);
	--color-text: var(--color-black);
	--color-button-primary: var(--color-fuschia);

	/* decorative */
	--line-element: 2px;

	/* COMPONENTS */

	/* components button */
	--button-bg: var(--color-black);
	--button-text-color: var(--color-white);

	/* components icons*/
	--icon-line: var(--line-element);
	--icon-menu-color: var(--color-text);
	--icon-size: var(--spacing-4);

}