---
import H2 from "@components/Typography/H2.astro";
import P from "../Typography/P.astro";

const { data, dark } = Astro.props;
const borderColor = "border-custom-gray";
---

<div
	class=`mx-auto max-w-2xl py-3 mb-10 border-y-1  ${dark ? "border-custom-corn" : "border-custom-gray"}`
	data-animate
>
	<H2 dark={dark}>Población</H2>
	<div class="_grid _grid-cols-1 _md:grid-cols-2 _gap-6">
		<div class="">
			<P dark={dark}>
				<slot />
			</P>
		</div>
	</div>
</div>
