---
import LogoMinCultura from "@assets/img/logo-mincultura.png";
import LogoSantaMarta from "@assets/img/logo-santa-marta.png";
import tunel from "@assets/img/tunel.png";
const { class: className } = Astro.props;
---

<header
	class={`hidden md:block bg-custom-pink p-2  rounded-2xl rounded-t-0 relative top-[-30px] ${Astro.props.class || ""}`}
>
	<div
		class="header__container border-1 border-white p-2 pt-3 rounded-2xl rounded-t-0"
	>
		<a href="/" class="flex gap-1 mb-3">
			<img src={LogoMinCultura.src} />
			<div class="border-r-1 border-white opacity-50"></div>
			<img src={LogoSantaMarta.src} />
		</a>
		<div class="flex gap-3">
			<img src={tunel.src} />
			<p class="text-white relative top-[-4px] max-w-[250px]">
				Un recorrido a través de las Culturas de los pueblos de La Sierra Nevada
				de Santa Marta.
			</p>
		</div>
	</div>
</header>

<style>
	.headder__container {
		/* display: grid; */
		/* grid-template-columns: min-content min-content; */
	}
</style>
