---
import ButtonHamburger from "@components/Menus/ButtonHamburger.svelte";
import ButtonClose from "@components/Menus/ButtonClose.svelte";

const { items: menuItems } = Astro.props;
---

<nav class="flex gap-12">
	<div class="container mx-auto flex justify-between items-center">
		<ul class="hidden md:flex gap-10">
			{
				menuItems.map((item) => (
					<li>
						<a href={item.href} class="hover:underline">
							{item.name}
						</a>
					</li>
				))
			}
		</ul>
	</div>

	<ButtonHamburger client:load />

	<div
		class="panel z-0 top-0 right-0 w-screen h-screen fixed js-target-main-menu js-pair-main-menu flex justify-end"
	>
		<div
			class="bg fixed inset-0 z-0 bg-black/90 h-full w-full js-pair-main-menu js-trigger-main-menu show"
		>
		</div>

		<div class="content bg-white max-w-96 w-full z-20 overflow-y-scroll !pt-18">
			<ButtonClose client:load />

			<ul class="">
				{
					menuItems.map((item) => (
						<li class="block">
							<a
								href={item.href}
								class="block p-2 md:p-4 xl:p-6 hover:bg-gray-100"
							>
								{item.name}
							</a>
						</li>
					))
				}
			</ul>
		</div>
	</div>
</nav>

<style>
	.panel {
		will-change: transform;
		transform: translate(100%, 0);
		transition: 0.3s transform;

		&.show {
			transform: translate(0, 0);
			will-change: transform;
			transition: 0.3s transform;
		}
	}
</style>

<script>
	// import changeClass from "@assets/js/change-class";

	// changeClass({
	// 	triggers: ".js-trigger-main-menu",
	// 	targets: ".js-target-main-menu",
	// 	eventType: "click",
	// 	pairToClass: ".js-pair-main-menu",
	// 	newClass: "show",
	// });
</script>
