---
const { img, name, class: className, url } = Astro.props;
---

<a href=`/${url}` class={`thumbnail md:flex-col ${Astro.props.class || ""}`}>
	<div class="thumbnail__name">
		{name}
	</div>
	<div class="thumbnail__img">
		<img src={img} alt={name} class="" />
	</div>
</a>

<style is:global>
	.thumbnail {
		--size: 1;
		pointer-events: all;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		position: relative;

		&:hover {
			.thumbnail__name {
				background-color: var(--color-custom-pink-dark);
			}

			.thumbnail__img {
				transform: scale(1.1);

				&::before,
				&::after {
					border: 1px solid tomato;
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					border-radius: 50%;
					border: 2px solid rgba(255, 255, 255, 0.6);
					opacity: 0;
					z-index: 1;
				}

				&::before {
					animation: radar-pulse 1.5s ease-out infinite;
				}

				&::after {
					animation: radar-pulse 1.5s ease-out infinite 0.5s;
				}
			}
		}

		.thumbnail__name {
			background-color: var(--color-custom-blue);
			font-size: clamp(14px, 3vw, 16px);
			color: white;
			max-width: 10rem;
			text-align: center;
			border-radius: 10px;
			box-shadow: 1px 2px 8px #00000047;
			padding: 8px 10px;
			line-height: 1.3;
			white-space: pre-line;
		}

		img {
			width: calc(110px * var(--size));
			display: block;
			border-radius: 50%;
			border: 2px solid white;
			padding: 7px;
			aspect-ratio: 1 / 1;
			object-fit: cover;
			position: relative;
			z-index: 2;
			transition: transform 0.3s ease;
		}
	}

	@keyframes radar-pulse {
		0% {
			width: calc(110px * var(--size));
			height: calc(110px * var(--size));
			opacity: 1;
		}
		100% {
			width: calc(180px * var(--size));
			height: calc(180px * var(--size));
			opacity: 0;
		}
	}
</style>
