---
// ParallaxImages.astro
---

<h1>
	<span
		class="parallax-container block mb-2 relative w-full overflow-hidden rounded-2xl"
	>
		<span
			class="parallax-layer block layer-1 absolute inset-0 z-10 rounded-2xl"
		>
			<slot name="layer-1" />
		</span>
		<span
			class="parallax-layer block layer-2 absolute inset-0 z-20 rounded-2xl"
		>
			<slot name="layer-2" />
		</span>
		<span
			class="parallax-layer block layer-3 absolute inset-0 z-30 rounded-2xl"
		>
			<slot name="layer-3" />
		</span>
		<span
			class="parallax-layer block layer-4 absolute inset-0 z-30 rounded-2xl"
		>
			<slot name="layer-4" />
		</span>
		<span
			class="parallax-layer block layer-5 absolute inset-0 z-30 rounded-2xl"
		>
			<slot name="layer-5" />
		</span>
		<span
			class="parallax-layer block layer-6 absolute inset-0 z-30 rounded-2xl"
		>
			<slot name="layer-6" />
		</span>
		<span
			class="parallax-layer layer-4 absolute inset-0 z-40 rounded-2xl h-full flex items-end pb-[3.3em] lg:pb-[2.1em] text-custom-corn justify-center uppercase text-3xl lg:text-7xl"
		>
			<slot name="layer-7" />
		</span>
		<span
			class="parallax-layer layer-5 absolute inset-0 z-40 rounded-2xl h-full flex items-end font-black pb-[2em] lg:pb-[1em] text-custom-corn justify-center uppercase text-3xl lg:text-7xl"
		>
			<slot name="layer-8" />
		</span>
	</span>
</h1>

<script>
	import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";

	gsap.registerPlugin(ScrollTrigger);

	const container = document.querySelector(".parallax-container");

	if (container) {
		const layers = container.querySelectorAll(".parallax-layer");

		layers.forEach((layer, index) => {
			const speed = (5 - index) * 0.3;
			const direction = 1;

			gsap.to(layer, {
				yPercent: direction * speed * 50,
				ease: "none",
				scrollTrigger: {
					trigger: container,
					start: "top 20% top",
					end: "bottom top",
					scrub: 1,
				},
			});
		});
	}
</script>

<style>
	.parallax-container {
		aspect-ratio: 2 / 0.9;
		height: auto;

		@media (width < 1024px) {
			height: 60vh;
		}
	}

	.parallax-layer {
		will-change: transform;
		overflow: hidden;
	}

	.parallax-layer :global(img) {
		width: 100%;
		height: 100%;
		max-width: none;
		object-position: bottom center;
		object-fit: cover;
	}

	/* .layer-1 {
		opacity: 1;
	}
	.layer-2 {
		opacity: 1;
	}
	.layer-3 {
		opacity: 1;
	}
	.layer-4 {
		opacity: 1;
	} */
</style>
