---
import placeholder from "@assets/img/placeholder.png";

const { data } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-3 gap-5 mx-auto mb-10">
	{
		data.map((item) => (
			<div class="rounded-2xl overflow-hidden">
				<img
					class="w-full"
					src={item.url === "" ? placeholder.src : item.url}
					alt={item.texto}
				/>
				<h3 class="bg-custom-pink text-white flex items-center font-black p-4 mb-0">
					{item.texto}
				</h3>
			</div>
		))
	}
</div>
