---
import "@src/assets/css/tailwind.css";
import "@src/assets/css/variables.css";
import "@src/assets/css/breakpoints.css";
import "@src/assets/css/html.css";
// import "@fontsource/poppins/900.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>
			{
				title
					? `${title} | Túnel del tiempo - Santa Marta`
					: "Túnel del tiempo - Santa Marta"
			}
		</title>
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<slot />
	</body>
</html>
